@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1px;
}

.baner {
    grid-column: 1 / 13;
    grid-row: 1;
}

.hr1 {
    grid-column: 1 / 13;
    grid-row: 2;
}

.h2 {
    grid-column: 2 / 11;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr2 {
    grid-column: 2 / 11;
    grid-row: 4;
}

.parrafo1 {
    grid-column: 2 / 6;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edede9;
}

.tenisf2 {
    grid-column: 6 / 11;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #546a7b;
}

.parrafo2 {
    grid-column: 7 / 11;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #edede9;
}

.tenisf1 {
    grid-column: 2 / 7;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #546a7b;
}

.menu2 {
    grid-column: 3 / 6;
    grid-row: 7;
}

.vertical {
    grid-column: 12;
    grid-row: 5 / 6;
}

.vertical2 {
    grid-column: 1;
    grid-row: 6 / 7;
}

.header {
    grid-column: 11 / 13;
    grid-row: 6 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo2 {
    grid-column: 12;
    grid-row: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
}

.redes {
    grid-column: 12;
    grid-row: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
}

.mapa {
    grid-column: 2 / 11;
    grid-row: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edede9;
}


/*MEDIA QUERIS*/

@media screen and (max-width: 768px) {

    #index,
    #menuheader1 {
        display: block;
        text-align: center;
    }

    img {
        width: 25%;
    }

    .logo2,
    .redes,
    .vertical,
    .vertical2,
    .header {
        display: none;
    }
}

@media screen and (max-width: 1280px) {

    #productos #galeria #menuheader {
        display: block;
        text-align: center;
        position: relative;
    }

    #galeria .f1 {
        width: 25%;
    }

    li {
        display: block;
        background: #edede9;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }
}

@media screen and (max-width: 768px) {


    #contacto,
    #nosotros,
    #menuheader {
        display: block;
        text-align: center;
        position: relative;
    }

    .productos {
        display: block;
        width: 98%;
    }

   img {
        width: 25%;
    }

    .banernosotros,  .imagencontacto img
     {
        width: 100%;
    }
    

    li {
        display: block;
        background: #edede9;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }
}