/*MISC*/
/*PARTIALS*/
header {
  list-style: none; }
  header li {
    list-style: none; }
  header a {
    font-size: larger;
    text-decoration: none;
    color: #000000;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }

/*VIEWS*/
li {
  list-style: none; }
  li a {
    font-size: larger;
    text-decoration: none;
    color: #000000;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }

div p {
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
  font-family: "Times New Roman", Times, serif; }

div h4 {
  padding: 20px;
  font-family: "Times New Roman", Times, serif; }

div h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }
