/*CONTACTO*/

#contacto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    background-color: $primary;
}

.informacion {
    grid-column: 2 / 6;
    grid-row: 2;
}

.imagencontacto {
    grid-column: 6 / 12;
    grid-row: 2;
}

.mapac {
    grid-column: 3 / 11;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
}

#footerc {
    grid-column: 5 / 9;
    grid-row: 4;
}

.ft-legalc {
    grid-column: 4 / 10;
    grid-row: 5;
    display: flex;
    justify-content: space-around;
}