/*PRODUCTOS*/

#productos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    background-color: $primary;
}

.llegaron {
    grid-column: 2 / 12;
    grid-row: 2;
    text-align: center;
}

.llegaron2 {
    grid-column: 3 / 11;
    grid-row: 3;
    text-align: center;
    font-size: larger;
}

.productos1 {
    grid-column: 2 / 12;
    grid-row: 4;
    text-align: center;
}

.productos2 {
    grid-column: 2 / 12;
    grid-row: 5;
    text-align: center;
}

.productos3 {
    grid-column: 2 / 12;
    grid-row: 6;
    text-align: center;
}

#footerp {
    grid-column: 5 / 9;
    grid-row: 7;
}

.ft-legalp {
    grid-column: 4 / 10;
    grid-row: 8;
    display: flex;
    justify-content: space-around;
}

.productos {
    display: flex;
    justify-content: space-around;
}

.card {
    transition: 0.3s;
    width: 100%;
    object-fit: cover;
    border: $secondary solid 10px;
    border-radius: 10px;
    margin: 5px;
}

.card:hover {
    object-fit: cover;
    border: $secondary solid 5px;
    border-radius: 5px;
}

.card button {
    font-family: 'roboto';
    border: none;
    padding: 1px;
    color: white;
    background-color: $secondary;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.card button:hover {
    @extend .card;
    border: #05243b solid 3px;
}
