
    $primary: #edede9;
    $secondary: #546a7b;
    $text-color: #000000;

    $font-principal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    $font-title: 'Times New Roman', Times, serif;

    $redes: (/*Declaramos nuestro mapa*/
    instagram:#edede9,
    facebook:#edede9
    
    );
    /*Creamos el bucle para usar los valores del mapa*/
    @each $red, $color in $redes {
    .btn--#{$red}{
    background-color:$color;
}
}